.logo{
	width:100px;
	margin-left:30px;
	margin-right:50px;
	vertical-align:middle;

}
.d-block{
	display:inline-block;
}
.navigation-a{
	margin-right:30px;
}
.div1{
	margin:90px;
}
span{
	color:red;
}
.divider{
	height:23pt;
	width:2pt;
	background:blue;
}
